@font-face {
  font-family: 'BebasNeue';
  src: url('/fonts/BebasNeue.eot');
  src: url('/fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BebasNeue.woff') format('woff'),
    url('/fonts/BebasNeue.ttf') format('truetype'),
    url('/fonts/BebasNeue.svg#svgFontName') format('svg');
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'BebasNeue';
}

p {
  font-family: 'BebasNeue';
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fcfcfc;
}

#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  opacity: 0.15;
}

#main-content {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#links {
  position: fixed;
  bottom: 0px;
  background: white;
  width: 100%;
  text-align: center;
  padding-top: 3px;
}

.links-icon {
  width: 24px;
  margin: 4px 2px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

#popup-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  transition-property: visibility, opacity;
  transition-duration: 0s, 0.5s;
}

#popup-bg.hidden {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.5s, 0s;
  transition-delay: 0s, 0.5s;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

#popup-button {
  cursor: pointer;
}

.popup-content {
  margin-top: 0px;
  height: 650px;
  width: 460px;
  background-color: #fcfcfc;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.photo {
  margin: 25px 0 10px;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 36px;
  transform: rotate(45deg);
  cursor: pointer;
}

.popup-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10px;
}

.popup-icon {
  width: 25px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.bio-link:hover,
.close:hover,
.links-icon:hover,
.github:hover,
.youtube:hover,
.email:hover,
.linkedin:hover,
.youtube:hover,
.resume-icon:hover {
  opacity: 0.6;
}

.resume-icon {
  margin-top: 4px;
  height: 51px;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.main-about {
  margin-bottom: 50px;
  width: 410px;
  margin-left: 2px;
}

.main-icons {
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
  cursor: pointer;
  width: 200px;
}

.main-icons:hover,
.main-about:hover {
  opacity: 0.65;
}

#icon-row,
#youtube-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#youtube-row {
}

.video {
  margin: 5px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #949494;
  margin: 10px 30px;
}

.bio {
  margin: 10px 30px;
  text-align: left;
  font-family: 'Roboto';
}

.subtitle {
  margin-top: -25px;
}

#bio-copy {
  overflow-y: auto;
  height: 390px;
  -webkit-overflow-scrolling: touch;
}

.bio-link {
  color: #00a7c1;
}
